Prado[[:space:]]firmware[[:space:]]dump/rootfs_raw/*.bin filter=lfs diff=lfs merge=lfs -text
Holden[[:space:]]firmware[[:space:]]update/rootfs.img filter=lfs diff=lfs merge=lfs -text
Prado[[:space:]]reconstructed/mtd6_rootfs/rootfs/etc/ssh/ssh_host_*_key -text
