[D-BUS Service]
Name=com.arkmicro.auto
Exec=/bin/sh -c "exec strace -f -tt -e trace=openat,open,ioctl -o /data/sink_strace.log /usr/bin/sink >>/var/log/sink.log 2>&1"
